<div class="container">

  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{ editando ? 'Editar' : 'Nova' }} Barragem</h1>
      </div>

      <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" ngModel #nome="ngModel" [(ngModel)]="barragem.nome" required>
      </div>


      <div class="ui-g-6 ui-md-6 ui-fluid">
        <label>Método</label>
        <p-dropdown [options]="metodos" placeholder="Selecione" ngModel name="metodo" #metodo=ngModel required
          [(ngModel)]="barragem.metodo"></p-dropdown>

      </div>

      <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>Latitude</label>
        <input pInputText type="text" name="latitude" ngModel #latitude="ngModel" [(ngModel)]="barragem.latitude"
          required>

      </div>

      <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>Longitude</label>
        <input pInputText type="text" name="longitude" ngModel #longitude="ngModel" [(ngModel)]="barragem.longitude"
          required>
      </div>

      <div class="ui-g-12  ui-fluid">
        <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}"></p-gmap>
      </div>

    </div>

  </form>

</div>
