<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<div class="container">
  <!--

  // TODO: ESTUDAR
  https://www.youtube.com/watch?v=lApggVS0icc
-->
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{ editando ? 'Editar' : 'Nova' }} Barragem</h1>
      </div>

      <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" ngModel #nome="ngModel" [(ngModel)]="barragem.nome" required>
      </div>


      <div class="ui-g-6 ui-md-6 ui-fluid">
        <label>Método</label>
        <p-dropdown [options]="metodos" placeholder="Selecione" ngModel name="metodo" #metodo=ngModel required
          [(ngModel)]="barragem.metodo"></p-dropdown>

      </div>

      <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>Altura (m)</label>
        <input pInputText type="text" name="altura" ngModel #altura="ngModel" [(ngModel)]="barragem.altura" required>
      </div>

      <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>Volume (m3)</label>
        <input pInputText type="text" name="volume" ngModel #volume="ngModel" [(ngModel)]="barragem.volume" required>
      </div>


      <div class="ui-g-4 ui-md-4 ui-fluid">
        <label>UF</label>
        <p-dropdown [options]="ufs" placeholder="Selecione" ngModel name="uf" #metodo=ngModel required
          [(ngModel)]="barragem.uf" (onChange)="coordenadas()" [filter]="true"></p-dropdown>

      </div>

      <div class="ui-g-4 ui-md-4  ui-fluid">
        <label>Latitude</label>
        <input pInputText type="text" name="latitude" ngModel #latitude="ngModel" [(ngModel)]="barragem.latitude"
          required>

      </div>

      <div class="ui-g-4 ui-md-4  ui-fluid">
        <label>Longitude</label>
        <input pInputText type="text" name="longitude" ngModel #longitude="ngModel" [(ngModel)]="barragem.longitude"
          required>
      </div>

      <!--
        https://angular-maps.com/
        Documentação.
      -->
      <div class="ui-g-12  ui-fluid" *ngIf="exibeMapa">
        <agm-map [zoom]="8" [(latitude)]="barragem.latitude" [(longitude)]="barragem.longitude"
          (mapClick)="onChoseLocation($event)">
          <agm-marker [latitude]="barragem.latitude" [longitude]="barragem.longitude">
            <agm-info-window>{{barragem.nome}}</agm-info-window>
          </agm-marker>
        </agm-map>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid" style="margin: 2px"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" style="margin: 2px"
          (click)="novo(f)"></button>
        <a routerLink="/barragens">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>

</div>
