<div class="container">

  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{ editando ? 'Editar' : 'Nova' }} Inspeção</h1>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid">
        <label>Data Inspeção Atualizacao release na feature</label>
        <p-calendar dateFormat="yy-mm-dd" [inline]="false" [showIcon]="false" [locale]="br" [(ngModel)]="inspecao.data"
          name="dataInspecao" required></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-8 ui-lg-6 ui-fluid">
        <label>Barragem Teste Atualizacao release na feature</label>
        <p-dropdown [options]="barragens" placeholder="Selecione" ngModel name="barragem" #barragem=ngModel required
          [(ngModel)]="inspecao.barragem.codigo" [filter]="true"></p-dropdown>
      </div>

      <div class="ui-g-6 ui-md-3 ui-lg-2 ui-fluid">
        <label>Altura (m)</label>
        <input pInputText type="text" name="altura" ngModel #nome="ngModel" [(ngModel)]="inspecao.altura" required>
      </div>

      <div class="ui-g-6 ui-md-3 ui-lg-2 ui-fluid">
        <label>Volume (m3)</label>
        <input pInputText type="text" name="volume" ngModel #nome="ngModel" [(ngModel)]="inspecao.volume" required>
      </div>

      <div class="ui-g-6 ui-md-3 ui-lg-4 ui-fluid">
        <label>Risco - CRI</label>
        <p-dropdown [options]="niveis" placeholder="Selecione" ngModel name="risco" #risco=ngModel
          [(ngModel)]="inspecao.risco"></p-dropdown>
      </div>

      <div class="ui-g-6 ui-md-3 ui-lg-4 ui-fluid">
        <label>Potencial - DPA</label>
        <p-dropdown [options]="niveis" placeholder="Selecione" ngModel name="potencial" #potencial=ngModel
          [(ngModel)]="inspecao.potencial"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-12 ui-lg-4 ui-fluid">
        <label>Responsável</label>
        <input pInputText type="text" name="responsavel" ngModel #nome="ngModel" [(ngModel)]="inspecao.responsavel" [disabled]="true">
      </div>

      <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
        <label style="display: block">Observação</label>
        <textarea pInputTextarea [rows]="6" name="observacao" [(ngModel)]="inspecao.observacao"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid" style="margin: 2px"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" style="margin: 2px"
          (click)="novo(f)"></button>
        <a routerLink="/inspecoes">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>

</div>
