<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Manutenções</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Tipo</label>
        <p-dropdown [options]="tipos" placeholder="Selecione" [(ngModel)]="filtro.tipo" name="tipo" required>
        </p-dropdown>
      </div>

      <div class="ui-g-12">
        <label style="display: block">Data Agendada</label>
        <input pInputText type="text" style="width: 95px" name="dataAgendadaDe" [(ngModel)]="filtro.dataAgendadaInicio">

        <label>até</label>
        <input pInputText type="text" style="width: 95px" name="dataAgendadaAte" [(ngModel)]="filtro.dataAgendadaFim">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="manutencoes" [paginator]="true" [rows]="filtro.itensPorPagina" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" [lazy]="true" [responsive]="true" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Codigo</th>
            <th>Ativo</th>
            <th>Tipo</th>
            <th>Data Agendada</th>
            <th>Data Realizada</th>
            <th>Observação</th>
            <th class="col-acoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-manutencao>
          <tr>
            <td>{{manutencao.codigo}}</td>
            <td>{{manutencao.ativo.descricao}}</td>
            <td>{{manutencao.tipo}}</td>
            <td>{{manutencao.dataAgendada  | date:'dd/MM/y HH:mm' }}</td>
            <td>{{manutencao.dataRealizada | date:'dd/MM/y HH:mm' }}</td>
            <td>{{manutencao.observacao}}</td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="excluir(manutencao)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          Nenhum registro encontrado
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
