<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <form autocomplete="off" (ngSubmit)="pesquisar()">

        <div class="ui-g-12">
          <h1>Barragens</h1>
        </div>

        <p-fieldset legend="Filtro">
          <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <label>Nome</label>
            <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <label>Método</label>
            <p-dropdown [options]="metodos" placeholder="Selecione" ngModel name="metodo" #metodo=ngModel
              [(ngModel)]="filtro.metodo"></p-dropdown>
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <label>UF</label>
            <p-dropdown [options]="ufs" placeholder="Selecione" ngModel name="uf" #metodo=ngModel
              [(ngModel)]="filtro.uf" [filter]="true"></p-dropdown>

          </div>

          <div class="ui-g-12">
            <button pButton type="submit" label="Pesquisar" style="margin: 2px"></button>
            <button pButton label="Limpar Filtros" (click)="limparFiltro()" style="margin: 2px"></button>
          </div>

        </p-fieldset>
      </form>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="barragens" [paginator]="true" [rows]="5" [totalRecords]="totalRegistros" [responsive]="true"
        #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Método</th>
            <th>Altura (m)</th>
            <th>Volume (m3)</th>
            <th>UF</th>
            <th style="width: 100px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-barragem>
          <tr>
            <td>{{barragem.codigo}}</td>
            <td>{{barragem.nome}}</td>
            <td>{{descricaoMetodo(barragem.metodo)}}</td>
            <td>{{barragem.altura}}</td>
            <td>{{barragem.volume}}</td>
            <td>{{barragem.uf}}</td>
            <td>
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="margin: 2px"
                [routerLink]="['/barragens', barragem.codigo]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(barragem)" style="margin: 2px"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          Nenhum registro encontrado
        </ng-template>
      </p-table>
      <div class="ui-g-12">
        <a pButton label="Novo Barragem" routerLink="/barragens/novo" style="margin-top: 6px"></a>
      </div>
    </div>

  </div>
</div>
