<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Barragens</h1>
      </div>

      <!--
      <div class="ui-g-12 ui-fluid">
        <label>nome</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <p-fieldset legend="Data Aquisição">
        <div class="ui-g-12">
          <label>De:</label>
        </div>
        <div class="ui-g-12">
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="aquisicaoInicio"
            [(ngModel)]="filtro.dataAquisicaoInicio" [locale]="br"></p-calendar>
        </div>

        <div class="ui-g-12">
          <label>Até</label>
        </div>

        <div class="ui-g-12">
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="aquisicaoFim"
            [(ngModel)]="filtro.dataAquisicaoFim" [locale]="br"></p-calendar>
        </div>
      </p-fieldset>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" style="margin: 2px"></button>
        <button pButton label="Limpar Filtros" (click)="limparFiltro()" style="margin: 2px"></button>
      </div>

      -->
    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="barragens" [paginator]="true" [rows]="5" [totalRecords]="totalRegistros"
          [responsive]="true" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Método</th>
            <th>UF</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th class="col-acoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-barragem>
          <tr>
            <td>{{barragem.nome}}</td>
            <td>{{descricaoMetodo(barragem.metodo)}}</td>
            <td>{{barragem.uf}}</td>
            <td>{{barragem.latitude}}</td>
            <td>{{barragem.longitude}}</td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="margin: 2px"
                [routerLink]="['/barragens', barragem.codigo]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(barragem)" style="margin: 2px"
                [disabled]="!auth.temPermissao('ROLE_REMOVER_BARRAGEM')"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          Nenhum registro encontrado
        </ng-template>
      </p-table>
      <div class="ui-g-12">
        <a pButton label="Novo Barragem" routerLink="/barragens/novo" style="margin-top: 6px"></a>
      </div>
    </div>

  </div>
</div>
