<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Categorias</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="categorias" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th style="width: 100px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria>
          <tr>
            <td>{{categoria.nome}}</td>
            <td >
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
