<div class="container">
<!--

  // TODO: ESTUDAR
  https://www.youtube.com/watch?v=lApggVS0icc

  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">

      <div class="ui-g-4 ui-md-4 ui-fluid">
        <label>UF</label>
        <p-dropdown [options]="ufs" placeholder="Selecione" ngModel name="uf" #metodo=ngModel required
          [(ngModel)]="aviso.uf" (onChange)="coordenadas()" [filter]="true"></p-dropdown>
      </div>

       <div class="ui-g-6 ui-md-6 ui-fluid">
        <label>Barragem</label>
        <p-dropdown [options]="barragens" placeholder="Selecione" ngModel name="barragem" #metodo=ngModel required
          [(ngModel)]="aviso.codigoBarragem"></p-dropdown>
      </div>

      <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" ngModel #nome="ngModel" [(ngModel)]="aviso.nome" required>
      </div>

       <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>CPF</label>
        <input pInputText type="text" name="cpf" ngModel #cpf="ngModel" [(ngModel)]="aviso.cpf" required>
      </div>

       <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>E-mail</label>
        <input pInputText type="text" name="email" ngModel #email="ngModel" [(ngModel)]="aviso.email" required>
      </div>

      <div class="ui-g-6 ui-md-6  ui-fluid">
        <label>Telefone</label>
        <input pInputText type="text" name="telefone" ngModel #nome="ngModel" [(ngModel)]="aviso.telefone" required>
      </div>







      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid" style="margin: 2px"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" style="margin: 2px"
        (click)="novo(f)"></button>
        <a routerLink="/barragens">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
-->
</div>
