.navbar {
  padding: 10px 0;
  background-color: #1eccd2;
}

.navbar-icon {
  color: #fff;
}

.position-right {
  text-align: end;
}

.position-center {
  text-align: center;
}

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  margin: 0;
  padding: 0;
  z-index: 9998;

  background-color: #3a3633;

  list-style: none;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;

  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #fff;
}

.navbar-menuitem.selecionado {
  background-color: #494541;
}
