<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Ativos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display: block">Data Aquisição</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="aquisicaoInicio"
          [(ngModel)]="filtro.dataAquisicaoInicio"></p-calendar>

        <label>até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="aquisicaoFim"
          [(ngModel)]="filtro.dataAquisicaoFim"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="ativos" [paginator]="true" [rows]="filtro.itensPorPagina" [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)" [lazy]="true" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Ano Fabricação</th>
            <th>Data Aquisição</th>
            <th class="col-acoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ativo>
          <tr>
            <td>{{ativo.descricao}}</td>
            <td>{{ativo.categoria.nome}}</td>
            <td>{{ativo.anoFabricacao}}</td>
            <td>{{ativo.dataAquisicao | date:'dd/MM/yyyy'}}</td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          Nenhum registro encontrado
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
