<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <form autocomplete="off" (ngSubmit)="pesquisar()">

        <div class="ui-g-12">
          <h1>Ativos</h1>
        </div>

        <p-fieldset legend="Filtro">

          <div class="ui-g-12 ui-md-6 ui-lg-1  ui-fluid">
            <label>Código</label>
            <input pInputText type="text" name="codigo" [(ngModel)]="filtro.codigo">
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-4  ui-fluid">
            <label>Modelo</label>
            <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-3  ui-fluid">
            <label>Período de:</label>
            <p-calendar dateFormat="dd/mm/yy" name="aquisicaoInicio" [(ngModel)]="filtro.dataAquisicaoInicio"
              [locale]="br"></p-calendar>
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-3 ui-fluid">
            <label>Até:</label>
            <p-calendar dateFormat="dd/mm/yy" name="aquisicaoFim" [(ngModel)]="filtro.dataAquisicaoFim" [locale]="br">
            </p-calendar>
          </div>

          <div class="ui-g-12">
            <button pButton type="submit" label="Pesquisar" style="margin: 2px"></button>
            <button pButton label="Limpar Filtros" (click)="limparFiltro()" style="margin: 2px"></button>
          </div>

        </p-fieldset>

      </form>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="ativos" [paginator]="true" [rows]="filtro.itensPorPagina" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" [lazy]="true" [responsive]="true" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Código</th>
            <th>Categoria</th>
            <th>Modelo</th>
            <th>Fabricante</th>
            <th>Ano Fabricação</th>
            <th>Data Aquisição</th>
            <th style="width: 100px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ativo>
          <tr>
            <td>{{ativo.codigo}}</td>
            <td>{{ativo.categoria.nome}}</td>
            <td>{{ativo.descricao}}</td>
            <td>{{ativo.fabricante.nome}}</td>
            <td>{{ativo.anoFabricacao}}</td>
            <td>{{ativo.dataAquisicao | date:"dd/MM/yyyy"}}</td>
            <td>
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="margin: 2px"
                [routerLink]="['/ativos', ativo.codigo]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(ativo)" style="margin: 2px"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          Nenhum registro encontrado
        </ng-template>
      </p-table>
      <div class="ui-g-12">
        <a pButton label="Novo Ativo" routerLink="/ativos/novo" style="margin-top: 6px"></a>
      </div>
    </div>

  </div>
</div>
